/local_config.ml
*.cm*
*.o
__sd_*
pathcrawler___sd_instru*
testcases___sd_instru*
/META.frama-c-stady
/StaDy.check_mli_exists
/autom4te.cache
/config.log
/config.status
/configure
/.depend
/.merlin
/.Makefile.plugin.generated
/Makefile
/tests/*/result/
/tests/ptests_config
/tests/test_config
/top
/gui
